
/* 

		NAVBAR 

*/

.navbar{    
    position: fixed;    
    top: 0;    
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FDFDFD;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li a{
    display: block;
    color: #FA4516;
    text-align: center;
    padding: 28px 70px;
    text-decoration: none;
}

li a:hover {
    background-color: #F5F5F5;
    color:#FA4516;
}

li:nth-child(2) a:hover {
   background-color: #FDFDFD;
}

li:nth-child(2){
    padding : 0 15px;
}

li:last-child, li:first-child{
    border-right: none;
}

.active {
    background-color: #FA4516;
    color:white;
}

#logo{
	width: auto;
	height: 70px;
}

/* 

		GENERAL 

*/

body{
	margin:0px;
	font-family: 'Mina', sans-serif;
}

p{
	text-align: justify;
    line-height: 1.8;

}

h2{
	font-size: 50px;
	color: #FA4516;
	margin:0px;
}



/* 

		PAGE HOME 

*/


.first-half{
	width: 45%;
	float:left; 
	margin:20px;
    border: 1px solid #bbb;
}

 .seconds-half{
 	display:flex;
 	flex-wrap: wrap;
	width: 45%;
	float:left; 
	margin:20px;
    border: 1px solid #bbb;
}

.main_containter{
	margin-top:90px;
}

#photo_home{
	max-width:100%;
	max-height:100%;
}

.highlighted_content{
	height:auto;
	width:44%;
	float:left;
	margin:20px;

}
.highlighted_content img{
	width:auto;
	height: 200px;
}


.fig_title{
	padding-top: 5px;
	color:#FA4516;
	font-size: 25px;
	margin:0px;
	font-weight: bold;
}

.highlighted_content figcaption {
	padding:10px;
	background-color: #F5F5F5; 
}

.news{
	padding:10px;
	background-color:#F5F5F5;
	margin: 10px;
}

.news img{
	margin:10px;
}

/* 

		PAGE CLASSES

*/



.main_containter_classes{
	margin: 90px 80px;
	display:flex;
	flex-direction: column;
}

.container_class{
	height: auto;
	width: auto;
}

.container_class p{
	float:left;
	width: 45%;
	padding: 0px 40px;
}

.class_title{
	display:block;
	padding: 10px 10px 0px 0px;
	color: #FA4516; 
	font-size: 45px;
	font-weight: bold;
	text-align: center;

}

.learn_more{
	display:block;
	padding: 10px 0px 0px 0px;
	color: #c1c1c1; 
	font-style: italic;
	text-decoration: none;
}

.container_class img{
	width: 55%;
	float:left;
}

.class_odd{
	background-color: #F1F1F1;
}

.line{
	border-bottom: 1px solid #FA4516;
	margin : 20px;
}


