body{
	background-color: white;
}

* {
	box-sizing: border-box;
}

.lefttext {
  margin-top: -65px;
  margin-right: 500px;
  margin-left: 50px;
}

.righttext {
  margin-left: 450px;
  padding-top: -80px;
}

.leftimg {
  float: left;
}

.rightimg {
  float: right;
}

.col {
  height: 1000px;
	width: 40%;
	margin: 10px 5%;
	padding: 100px 0;
  padding-bottom: 30px;
	float: right;
	border: 1px solid black;
  border: double;
	text-align: center;
}

.col p {
  text-align: center;
  padding: 0 30px;
}

.col2 {
  height: 500px;
  width: 80%;
  margin: 10px 5%;
  padding: 100px 0;
  padding-bottom: 30px;
  border: 0px solid black;
  text-align: center;
}

#persona1 {
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: auto;
}

#persona2 {
  margin-top: -80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: auto;
}

#aboutimg {
  height: 200px;
  width: 200px;
  margin-top: -80px;
}

input[type="submit"] {
    background: #32CD32;
    border-color: green;
    width: 70px;
    height: 25px;
}

input[type="reset"] {
    background: #FA4516;
    border-color: red;
    width: 70px;
    height: 25px;
}

input[type="text"] {
    height: 20px;
    width: 200px;
}

input, textarea {
  margin: 5px;
}

textarea {
  height: 100px;
  width: 200px;
}

.class_title{
  display:block;
  padding: 10px 10px 0px 0px;
  color: #FA4516; 
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}

#send {
   color: #fff;
 font-size: 0;
 width: 135px;
 height: 60px;
 border: none;
 margin: 0;
 padding: 0;
 background: red;
}


/*--------------footer CSS--------------*/
/*--------------footer CSS--------------*/

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #FDFDFD;
}

.grid-container {
  margin-top: 60px;
  margin-bottom: 1200px;
}

.text-muted {
  padding-left: 50px;
}